* {
  box-sizing: border-box;
}

.body {
  width: 1480px;
  height: auto;
  font-family: "Roboto", sans-serif;
  padding: 63px 98px 30px 99px;
}

.header-logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  /* align-items: flex-end; 
  text-align: center; */
  padding: 0 0 38px 0;

  color: #000000;
}

.header-logo span {
  color: #4bcaff;
}

.header-logo a {
  text-decoration: none;
  color: #000000;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 1280px;
  height: 69px;
  left: 0px;
  top: 117px;
  background: #35444f;
}

.header-menu > li {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  border: 1px solid white;
  color: #ffffff;
  min-width: 160px;
}

.header-menu > li > a {
  color: #ffffff;
  text-decoration: none;
}

.header-menu > li:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222f3a;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 48px 0 51px 0;
  box-sizing: border-box;
}

.content-section {
  width: 885px;
}

.content-section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 529px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  box-sizing: border-box;
  overflow: hidden;
}

.foto {
  overflow: hidden;
}

.foto > img:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.content-section > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #2c2c2c;
  padding-top: 34px;
}
.content-section > p:nth-child(2) {
  padding-top: 37px;
}

.left-menu {
  width: 344px;
}

.left-menu > ul {
  width: 344px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}

.left-menu > ul > li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  display: flex;
  align-items: center;
  padding: 25px 0 25px 44px;
}

.left-menu > ul > li > a {
  text-decoration: none;
  color: #485863;
}

.left-menu > ul > li:hover {
  background: #dbdbdb;
  color: #000000;
  padding-left: 65px;
}

.left-menu > ul > li > a:hover {
  background: #dbdbdb;
  color: #000000;
}

.back-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
  padding: 0 40px 0 40px;
  box-sizing: border-box;
}

.back-footer > ul {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}

.back-footer > ul > li > a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  margin: 0 40px 0 0;
  text-decoration: none;
}

.back-footer > ul > li > a:hover {
  color: #3181a6;
  text-decoration: underline;
}

.back-footer > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
